<% classes = ["yellow", "green", "orange", "blue", "pink", "purple"] %>
<div class="thought <%= thought.color %>" 
	data-image="<%= thought.link %>" 
	data-text="<%= thought.text %>"
	data-color="<%= thought.color %>">

	<span class="crane">
		<% Rails.logger.warn(asset_path("#{thought.color}.png")) %>
		<%= image_tag asset_path("#{thought.color}.png"), class: "thought-img" %>
	</span>
	
</div>