<div class="container">
  <header>
    <img src="/assets/logo.png"/>

    <h1>Thoughtfold</h1>
    <h2>Set your thoughts free</h2>

    <ul>
      <li><span><a href="#" id="about-link">ABOUT</a></span></li>
      <li><span><a href="#" id="app-link">GET THE APP</a></span></li>
      <li><a href="#"><%= image_tag 'facebook.png', class: 'facebook' %></a></li>
      <li><a href="#"><%= image_tag 'twitter.png', class: 'twitter' %></a></li>
    </ul>
  </header>

  <div class="thoughts">
    <%= render partial: 'thought', collection: @thoughts %>
  </div>

  <%= render partial: 'info' %>

  <%= render partial: 'about' %>

  <%= render partial: 'app' %>
</div>

<!-- <iframe width="0" height="0" src="//www.youtube.com/embed/YtYMyySUkGo?autoplay=1" frameborder="0" allowfullscreen></iframe> -->